examples/n8n/umami-traffic-report.json
{
  "name": "Umami – Traffic Report (weekly + monthly HTML email)",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n\n1. **Config** öffnen und ausfüllen:\n   - `umamiUrl`\n   - `umamiUsername`\n   - `umamiPassword`\n   - `websiteId` (UUID)\n   - `fromEmail`\n   - `toEmail`\n2. **Send Email** → SMTP-Credential auswählen.\n3. **OpenAI Chat Model** → OpenAI-Credential. Empfehlung: `gpt-4.1-mini`.\n4. Workflow aktivieren.\n\nUsername/Passwort liegen plaintext im Set-Node — für lokale Nutzung ok.",
        "height": 260,
        "width": 380,
        "color": 4
      },
      "id": "note-setup",
      "name": "Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1500, -380]
    },
    {
      "parameters": {
        "content": "## Datenfluss\n\nTrigger → Period markieren → Boundaries berechnen → Config → **Login** holt Bearer-Token → 10 HTTP-Requests parallel (Stats, Pageviews, 6× Metrics current, 2× Metrics previous) → Aggregate → AI Agent rendert HTML → Sanitize → Send Email.",
        "height": 180,
        "width": 700,
        "color": 7
      },
      "id": "note-flow",
      "name": "Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-900, -380]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      },
      "id": "trg-weekly",
      "name": "Mon 08:00 (Weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1460, -100]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 1 * *" }] }
      },
      "id": "trg-monthly",
      "name": "1st 08:00 (Monthly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1460, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p", "name": "period", "value": "weekly", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-weekly",
      "name": "period=weekly",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1240, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p", "name": "period", "value": "monthly", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-monthly",
      "name": "period=monthly",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1240, 100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const period = $json.period;\nconst now = DateTime.now().setZone('Europe/Berlin');\nlet currentStart, currentEnd, previousStart, previousEnd, periodLabel, subjectSuffix, unit;\n\nif (period === 'weekly') {\n  const thisMonday = now.startOf('week');\n  const cs = thisMonday.minus({ weeks: 1 });\n  const ce = cs.plus({ weeks: 1 }).minus({ milliseconds: 1 });\n  currentStart = cs.toISO();\n  currentEnd = ce.toISO();\n  previousStart = cs.minus({ weeks: 1 }).toISO();\n  previousEnd = cs.minus({ milliseconds: 1 }).toISO();\n  periodLabel = `Wochenreport KW${cs.weekNumber} / ${cs.weekYear}`;\n  subjectSuffix = `KW${cs.weekNumber} ${cs.weekYear}`;\n  unit = 'day';\n} else {\n  const cs = now.minus({ months: 1 }).startOf('month');\n  const ce = cs.endOf('month');\n  currentStart = cs.toISO();\n  currentEnd = ce.toISO();\n  const ps = cs.minus({ months: 1 });\n  previousStart = ps.toISO();\n  previousEnd = ps.endOf('month').toISO();\n  const monthName = cs.setLocale('de').toFormat('LLLL yyyy');\n  periodLabel = `Monatsreport ${monthName}`;\n  subjectSuffix = monthName;\n  unit = 'day';\n}\n\nconst toMs = (s) => new Date(s).getTime();\nreturn [{\n  json: {\n    period, periodLabel, subjectSuffix,\n    currentStart, currentEnd, previousStart, previousEnd,\n    currentStartMs: toMs(currentStart),\n    currentEndMs: toMs(currentEnd),\n    previousStartMs: toMs(previousStart),\n    previousEndMs: toMs(previousEnd),\n    unit, timezone: 'Europe/Berlin',\n  },\n}];"
      },
      "id": "compute-period",
      "name": "Compute Period",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1020, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "u", "name": "umamiUrl", "value": "REPLACE-WITH-UMAMI-URL", "type": "string" },
            { "id": "n", "name": "umamiUsername", "value": "REPLACE-WITH-USERNAME", "type": "string" },
            { "id": "p", "name": "umamiPassword", "value": "REPLACE-WITH-PASSWORD", "type": "string" },
            { "id": "w", "name": "websiteId", "value": "REPLACE-WITH-UMAMI-WEBSITE-ID", "type": "string" },
            { "id": "f", "name": "fromEmail", "value": "REPLACE-WITH-FROM-EMAIL", "type": "string" },
            { "id": "t", "name": "toEmail", "value": "REPLACE-WITH-TO-EMAIL", "type": "string" }
          ],
          "include": "all"
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.umamiUrl }}/api/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $('Config').item.json.umamiUsername }}\",\n  \"password\": \"{{ $('Config').item.json.umamiPassword }}\"\n}",
        "options": {}
      },
      "id": "login",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-580, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "stats",
      "name": "Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/pageviews",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "unit", "value": "={{ $('Compute Period').item.json.unit }}" },
            { "name": "timezone", "value": "={{ $('Compute Period').item.json.timezone }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "pageviews",
      "name": "Pageviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "path" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-path",
      "name": "Metrics path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "referrer" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-referrer",
      "name": "Metrics referrer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [180, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "country" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-country",
      "name": "Metrics country",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [360, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "channel" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-channel",
      "name": "Metrics channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "device" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-device",
      "name": "Metrics device",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.currentStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.currentEndMs }}" },
            { "name": "type", "value": "event" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-event",
      "name": "Metrics event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.previousStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.previousEndMs }}" },
            { "name": "type", "value": "path" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-path-prev",
      "name": "Metrics path (prev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.umamiUrl }}/api/websites/{{ $('Config').item.json.websiteId }}/metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startAt", "value": "={{ $('Compute Period').item.json.previousStartMs }}" },
            { "name": "endAt", "value": "={{ $('Compute Period').item.json.previousEndMs }}" },
            { "name": "type", "value": "referrer" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Login').item.json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "m-referrer-prev",
      "name": "Metrics referrer (prev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const period = $('Compute Period').first().json;\nconst stats = $('Stats').first().json;\nconst pageviews = $('Pageviews').first().json;\nconst metrics = {\n  path: $('Metrics path').first().json,\n  referrer: $('Metrics referrer').first().json,\n  country: $('Metrics country').first().json,\n  channel: $('Metrics channel').first().json,\n  device: $('Metrics device').first().json,\n  event: $('Metrics event').first().json,\n  previousPath: $('Metrics path (prev)').first().json,\n  previousReferrer: $('Metrics referrer (prev)').first().json,\n};\nreturn [{ json: { period, stats, pageviews, metrics } }];"
      },
      "id": "aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Periode\n\n**{{ $json.period.periodLabel }}**\n- Aktuell:    {{ $json.period.currentStart }} → {{ $json.period.currentEnd }}\n- Vorperiode: {{ $json.period.previousStart }} → {{ $json.period.previousEnd }}\n- Time-Series-Granularität: {{ $json.period.unit }}\n\n## Daten\n\n```json\n{{ JSON.stringify({stats: $json.stats, pageviews: $json.pageviews, metrics: $json.metrics}, null, 2) }}\n```\n\n## Aufgabe\n\nErstelle daraus die HTML-E-Mail gemäß System-Prompt.\n- `stats.comparison.*` enthält Werte der Vorperiode für Δ%-Berechnung.\n- `metrics.previousPath` / `metrics.previousReferrer` für Top-Mover-Vergleich.\n- Bei leeren Listen: betroffene Sektion weglassen, NIEMALS „Daten konnten nicht geladen werden\" o.ä. schreiben.",
        "options": {
          "systemMessage": "Du bist Senior Digital Analyst und schreibst pointierte Traffic-Reports für eine Marketing-Lead. Sie hat 3 Minuten — gib ihr Klarheit, Trendverständnis und Maßnahmen, kein Daten-Dump.\n\nDu bekommst die Daten als fertiges JSON im User-Prompt. KEINE Tools — arbeite ausschließlich mit den im Prompt mitgelieferten Werten.\n\n## ANALYSE\n\n- **Headline-Bewegung**: was hat sich am stärksten verändert ggü. Vorperiode?\n- **Top-Mover** (Pages und Referrer): aktuelle Liste vs. previousPath/previousReferrer, je 3 Gewinner und 3 Verlierer per absoluter Differenz.\n- **Channel-Mix**: prozentualer Anteil aus metrics.channel.\n- **Engagement-Qualität**: bewegte sich Bounce-Rate / Visit-Dauer mit oder gegen Volumen?\n- **Audience-Shift**: auffällige Top-Geo / Device-Verschiebung.\n- **Trend innerhalb der Periode**: aus pageviews-Series — Anstieg, Abfall, Spike?\n\n## OUTPUT-FORMAT (HTML-E-Mail-Fragment)\n\nNur ein self-contained HTML-Fragment. KEIN Markdown, KEIN Code-Fence, KEIN <html>/<head>/<body>-Wrapper, KEINE Preamble. Nur Inline-CSS, kein externes CSS, kein JavaScript, keine Remote-Bilder.\n\nDesign (durchgehend border-radius:0):\n\n- **Container**: <table role=\"presentation\" width=\"640\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:#1f2937;line-height:1.55;background:#ffffff;\">\n- **Brand-Header**: <td> mit Gradient (background:linear-gradient(135deg,#0f172a,#1e3a8a);color:#fff;padding:28px 32px). Innen: Label uppercase #94a3b8 11px letter-spacing:1.5px („WOCHENREPORT\"/„MONATSREPORT\"), Titel #fff 26px bold (z.B. „KW17 / 2026\" oder „April 2026\"), Subtitle #cbd5e1 13px mit explizitem Datumsbereich („21. – 27. April 2026\").\n- **Tile-Row**: 5 Zellen, je background:#f8fafc;border:1px solid #e2e8f0;padding:18px 14px;text-align:center;width:20%. Inhalt: Label uppercase #64748b 10px letter-spacing:1px (PAGEVIEWS, VISITORS, VISITS, BOUNCE %, AVG. SESSION). Großer Wert #0f172a 28px bold mit Tausendertrennzeichen. Δ-Zeile 12px: ▲ #16a34a wenn up, ▼ #dc2626 wenn down, — #64748b wenn flat. Format „▲ 12,4 %\".\n- **Headline-Box** unter Tiles: padding:20px 32px;background:#fef3c7;border-left:4px solid #f59e0b. <strong>14px „Headline\" + ein Satz mit dem stärksten Befund.\n- **Sparkline**: Label „Verlauf\" (h3 #0f172a 14px margin:24px 32px 8px). Tabelle mit so vielen <td>-Spalten wie Zeit-Buckets, je width:auto;padding:0 1px;vertical-align:bottom;height:80px. Innen <div style=\"background:#1e3a8a;width:100%;height:Xpx\">, X = round(value / max * 70). Darunter Label #94a3b8 10px text-align:center.\n- **Top-Mover** (h2 „Top-Mover\"): zwei 50%-Spalten via Sub-Tabelle. Links „Gewinner\", rechts „Verlierer\". Pro Spalte 3-Zeilen-Tabelle: Pfad | Pageviews | Δ. Δ als Pill-<span> (color:#16a34a;background:#dcfce7;padding:1px 8px;font-size:11px;font-weight:600 für Gewinner; color:#dc2626;background:#fee2e2 für Verlierer).\n- **Channel-Mix** (h2 „Channel-Mix\"): Stacked Horizontal Bar als Tabelle width:100%;height:32px;background:#e2e8f0;border-collapse:collapse. Pro Channel <td width:X%;background:<color>>, <color> rotierend aus #1e3a8a, #0d9488, #d97706, #be185d, #4f46e5, #16a34a, #6b7280. Darunter Legende mit Farb-Quadraten + Channelname + Prozent.\n- **Top 5 Pages** und **Top 5 Quellen** (jeweils h2): Tabelle full-width border-collapse:collapse. Header-Zeile #f1f5f9 padding:10px 12px text-align:left font-weight:600 font-size:12px uppercase #475569. Datenzeilen alternierend #fff/#f8fafc, padding:10px 12px font-size:13px, Zahlen rechtsbündig mit font-feature-settings:'tnum' 1.\n- **Audience** (h2): zweispaltig — links Top 3 Länder mit Anteil-Bars, rechts Device-Split als Stacked Bar.\n- **Maßnahmen** (h2): nummerierte Liste 3–5 konkrete Actions mit <strong>-Titel, Beschreibung, „Ziel: <Metrik>\"-Zeile #64748b 12px.\n- **Footer**: <td style=\"padding:24px 32px;border-top:1px solid #e2e8f0;color:#94a3b8;font-size:11px;background:#f8fafc;\"> mit „Generiert von n8n + Umami\".\n\n### h2-Style\n\nh2 → font-size:14px;font-weight:600;color:#0f172a;text-transform:uppercase;letter-spacing:1px;margin:36px 32px 12px;padding-bottom:6px;border-bottom:2px solid #1e3a8a;\n\n### Zahlenformat (Deutsch)\n\nTausendertrennzeichen Punkt (12.482), Dezimaltrennzeichen Komma (3,2 %), Datum „21. April 2026\", Zeitspanne mit Halbgeviertstrich („21. – 27. April 2026\").\n\n## QUALITÄTSREGELN\n\n- Nie Werte erfinden. Wenn Daten fehlen → Sektion weglassen.\n- Keine Fallback-Sätze wie „Daten konnten nicht geladen werden\". Wenn alles leer ist: kurzer HTML-Block mit Header und einem Satz „Für diesen Zeitraum liegen noch keine Daten vor.\"\n- Insights statt Aufzählung. Jede Aussage trägt eine Zahl.\n- Maßnahmen aus den Daten begründbar.\n- Max. 350 Wörter sichtbarer Text.\n- Output startet mit <table und endet mit </table>.\n\nKein „Hier ist der Report:\" davor. Direkt das HTML."
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1660, 0]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4.1-mini", "mode": "list" },
        "options": { "temperature": 0.3 }
      },
      "id": "llm",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1580, 220]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "let raw = ($input.first().json.output ?? '').toString();\nraw = raw.replace(/```html\\s*/gi, '').replace(/```\\s*$/g, '');\nraw = raw.replace(/^\\s*Hier ist[^\\n]*\\n/i, '');\nconst startTags = ['<table', '<!doctype', '<!DOCTYPE', '<html'];\nconst positions = startTags.map((t) => raw.indexOf(t)).filter((i) => i >= 0);\nif (positions.length > 0) raw = raw.slice(Math.min(...positions));\nraw = raw.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nconst ctx = $('Compute Period').first().json;\nreturn [{ json: { html: raw, subjectSuffix: ctx.subjectSuffix, periodLabel: ctx.periodLabel } }];"
      },
      "id": "sanitize",
      "name": "Sanitize HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 0]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.fromEmail }}",
        "toEmail": "={{ $('Config').item.json.toEmail }}",
        "subject": "=Umami {{ $json.periodLabel.startsWith('Wochen') ? 'Wochenreport' : 'Monatsreport' }} · {{ $json.subjectSuffix }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2100, 0],
      "credentials": {
        "smtp": { "id": "REPLACE-WITH-SMTP-CREDENTIAL-ID", "name": "SMTP account" }
      }
    }
  ],
  "connections": {
    "Mon 08:00 (Weekly)": { "main": [[{ "node": "period=weekly", "type": "main", "index": 0 }]] },
    "1st 08:00 (Monthly)": { "main": [[{ "node": "period=monthly", "type": "main", "index": 0 }]] },
    "period=weekly": { "main": [[{ "node": "Compute Period", "type": "main", "index": 0 }]] },
    "period=monthly": { "main": [[{ "node": "Compute Period", "type": "main", "index": 0 }]] },
    "Compute Period": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Login", "type": "main", "index": 0 }]] },
    "Login": { "main": [[{ "node": "Stats", "type": "main", "index": 0 }]] },
    "Stats": { "main": [[{ "node": "Pageviews", "type": "main", "index": 0 }]] },
    "Pageviews": { "main": [[{ "node": "Metrics path", "type": "main", "index": 0 }]] },
    "Metrics path": { "main": [[{ "node": "Metrics referrer", "type": "main", "index": 0 }]] },
    "Metrics referrer": { "main": [[{ "node": "Metrics country", "type": "main", "index": 0 }]] },
    "Metrics country": { "main": [[{ "node": "Metrics channel", "type": "main", "index": 0 }]] },
    "Metrics channel": { "main": [[{ "node": "Metrics device", "type": "main", "index": 0 }]] },
    "Metrics device": { "main": [[{ "node": "Metrics event", "type": "main", "index": 0 }]] },
    "Metrics event": { "main": [[{ "node": "Metrics path (prev)", "type": "main", "index": 0 }]] },
    "Metrics path (prev)": { "main": [[{ "node": "Metrics referrer (prev)", "type": "main", "index": 0 }]] },
    "Metrics referrer (prev)": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Sanitize HTML", "type": "main", "index": 0 }]] },
    "Sanitize HTML": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["umami", "report", "ai-agent", "email"]
}
